@{
    ViewData["Title"] = "Contact";
}
<script src="https://www.google.com/recaptcha/api.js"></script>

<h1>Contact</h1>

@model ContactFormModel
<form id="contactForm" asp-action="Index" method="post" novalidate>
    @Html.AntiForgeryToken()
    <div class="hp">
        <label for="website">Laat dit veld leeg</label>
        <input type="text" id="website" name="website" value="" />
    </div>
    <div>
        <input asp-for="Name" type="text" id="Name" name="Name" placeholder="Naam" tabindex="1" required/>
        <div id="nameErr" class="error" role="alert">@Html.ValidationMessage("Name")</div>
    </div>
    <div>
        <label for="Email">E-mail</label>
        <input asp-for="Email" type="email" id="Email" name="Email" placeholder="naam@domein.nl" tabindex="2" required/>
        <div id="emailErr" class="error" role="alert">@Html.ValidationMessage("Email")</div>
    </div>
    <div>
        <label for="Subject">Onderwerp</label>
        <input asp-for="Subject" id="Subject" name="Subject" placeholder="Onderwerp" tabindex="3" required/>
        <div id="subjErr" class="error" role="alert">@Html.ValidationMessage("Subject")</div>
    </div>
    <div>
        <label for="Message" aria-hidden="true">Bericht</label> 
        <textarea asp-for="Message" id="Message" name="Message" rows="5" tabindex="4" maxlength="1000" placeholder="Je bericht" required></textarea>
        <div id="msgErr" class="error" role="alert">@Html.ValidationMessage("Message")</div>
    </div>
    <div class="g-recaptcha" data-sitekey="6LfUFYMsAAAAAE4ESK0Pp-OysgyvvLTh_kyDa059" data-callback='onSubmit' data-action='submit'></div>
    <button class="send-button" role="button" type="submit">
        Versturen
    </button>
</form>